{% extends "base.html" %}
{% block title %}Add Staff{% endblock %}
{% block content %}

<h2>Add Staff</h2>

<form method="POST" action="{{ url_for('admin_bp.add_staff') }}">
    <input class="form-control mb-2" type="text" name="name" placeholder="Name" required>
    <input class="form-control mb-2" type="email" name="email" placeholder="Email" required>
    <input class="form-control mb-2" type="password" name="password" placeholder="Password" required>
    <button class="btn btn-primary" type="submit">Add Staff</button>

</form>

<br>

<a class="btn btn-secondary" href="/admin">Back to Dashboard</a>


{% endblock %}