{% extends "base.html" %}
{% block title %}Staff Dashboard{% endblock %}
{% block content %}

<h1>Staff Dashboard</h1>

<h3>Welcome {{ current_user.name }}</h3>

<a href="/logout">Logout</a> | <a href="/staff/profile">My Profile</a>

<hr>

<h2>Assigned Treks</h2>

<table border="1">

<tr>
    <th>Name</th>
    <th>Location</th>
    <th>Status</th>
    <th>Slots</th>
    <th>Trekkers</th>
    <th>Action</th>
</tr>

{% for trek, count in treks %}
<tr>
    <td>{{ trek.trek_name }}</td>
    <td>{{ trek.location }}</td>
    <td>{{ trek.status }}</td>
    <td>{{ trek.available_slots }}</td>
    <td>{{ count }}</td>

    <td>
        <a href="/staff/trek/{{ trek.id }}">Manage</a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}